tUSE [master]
GO
/****** Object:  Database [GlassManagerDB]    Script Date: 11/15/2013 17:55:20 ******/
CREATE DATABASE [GlassManagerDB] ON  PRIMARY 
( NAME = N'GlassManagerDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\GlassManagerDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GlassManagerDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\GlassManagerDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GlassManagerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GlassManagerDB]
GO
/****** Object:  Table [dbo].[QuoteLineItems]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteLineItems](
	[QuoteNumber] [nvarchar](50) NULL,
	[LineID] [int] NULL,
	[Quantity] [int] NULL,
	[Description] [nvarchar](1000) NULL,
	[Dimension] [nvarchar](50) NULL,
	[SqFt] [int] NULL,
	[PricePerUnit] [float] NULL,
	[Total] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_QuoteLineItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuoteLineItems] ON
INSERT [dbo].[QuoteLineItems] ([QuoteNumber], [LineID], [Quantity], [Description], [Dimension], [SqFt], [PricePerUnit], [Total], [ID]) VALUES (N'Q00002', 1, 2, N'test', N'2 x 2', 10, 20, 0, 1)
INSERT [dbo].[QuoteLineItems] ([QuoteNumber], [LineID], [Quantity], [Description], [Dimension], [SqFt], [PricePerUnit], [Total], [ID]) VALUES (N'Q00002', 2, 3, N'test 2', N'3 x 3', 20, 40, 0, 2)
INSERT [dbo].[QuoteLineItems] ([QuoteNumber], [LineID], [Quantity], [Description], [Dimension], [SqFt], [PricePerUnit], [Total], [ID]) VALUES (N'Q00002', 1, 2, N'tes', N'3', 2, 10, 100, 3)
SET IDENTITY_INSERT [dbo].[QuoteLineItems] OFF
/****** Object:  Table [dbo].[QuoteHeader]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteHeader](
	[QuoteID] [int] NULL,
	[CreatedOn] [nvarchar](50) NULL,
	[RequestedShipDate] [nvarchar](50) NULL,
	[CustomerPO] [nvarchar](50) NULL,
	[LeadTimeID] [int] NULL,
	[LeadTimeTypeID] [int] NULL,
	[CustomerID] [int] NULL,
	[ShipToOtherAddress] [bit] NULL,
	[QuoteNumber] [nvarchar](50) NOT NULL,
	[ShippingMethodID] [int] NULL,
	[OperatorName] [nvarchar](50) NULL,
 CONSTRAINT [PK_QuoteHeader] PRIMARY KEY CLUSTERED 
(
	[QuoteNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[QuoteHeader] ([QuoteID], [CreatedOn], [RequestedShipDate], [CustomerPO], [LeadTimeID], [LeadTimeTypeID], [CustomerID], [ShipToOtherAddress], [QuoteNumber], [ShippingMethodID], [OperatorName]) VALUES (NULL, N'11/14/2013', N'11/14/2013', N'c1', 3, 1, 5, 1, N'Q00001', 1, N'admin')
INSERT [dbo].[QuoteHeader] ([QuoteID], [CreatedOn], [RequestedShipDate], [CustomerPO], [LeadTimeID], [LeadTimeTypeID], [CustomerID], [ShipToOtherAddress], [QuoteNumber], [ShippingMethodID], [OperatorName]) VALUES (NULL, N'11/14/2013', N'11/14/2013', N'c2', 3, 1, 6, 1, N'Q00002', 1, N'admin')
INSERT [dbo].[QuoteHeader] ([QuoteID], [CreatedOn], [RequestedShipDate], [CustomerPO], [LeadTimeID], [LeadTimeTypeID], [CustomerID], [ShipToOtherAddress], [QuoteNumber], [ShippingMethodID], [OperatorName]) VALUES (NULL, N'11/14/2013', N'11/14/2013', N'c2', 3, 1, 7, 1, N'Q00003', 2, N'admin')
/****** Object:  Table [dbo].[QuoteFooter]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteFooter](
	[QuoteNumber] [nvarchar](50) NULL,
	[SubTotal] [float] NULL,
	[IsDollar] [bit] NULL,
	[EnergySurcharge] [float] NULL,
	[Discount] [float] NULL,
	[Delivery] [float] NULL,
	[IsRush] [bit] NULL,
	[RushOrder] [float] NULL,
	[Tax] [float] NULL,
	[GrandTotal] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[QuoteFooter] ([QuoteNumber], [SubTotal], [IsDollar], [EnergySurcharge], [Discount], [Delivery], [IsRush], [RushOrder], [Tax], [GrandTotal]) VALUES (N'Q00002', 200, 1, 10, 10, 10, 1, 10, 10, 220)
/****** Object:  Table [dbo].[OtherShippingAddress]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtherShippingAddress](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuoteNumber] [nvarchar](50) NULL,
	[CustomerID] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Address] [nvarchar](300) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Misc] [nvarchar](1000) NULL,
 CONSTRAINT [PK_OtherShippingAddress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OtherShippingAddress] ON
INSERT [dbo].[OtherShippingAddress] ([ID], [QuoteNumber], [CustomerID], [FirstName], [LastName], [Address], [Phone], [Fax], [Email], [Misc]) VALUES (1, N'Q00001', 6, N'h', N'i', N'j', N'444-444-44444', N'l', N'm', N'n')
SET IDENTITY_INSERT [dbo].[OtherShippingAddress] OFF
/****** Object:  Table [dbo].[LuThickness]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuThickness](
	[ID] [int] NOT NULL,
	[Thickness] [nvarchar](50) NULL,
 CONSTRAINT [PK_LuThickness] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LuThickness] ([ID], [Thickness]) VALUES (1, N'3/16')
INSERT [dbo].[LuThickness] ([ID], [Thickness]) VALUES (2, N'1/4')
INSERT [dbo].[LuThickness] ([ID], [Thickness]) VALUES (3, N'3/8')
/****** Object:  Table [dbo].[LuShippingMethods]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuShippingMethods](
	[ID] [int] NOT NULL,
	[Shipping] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LuShippingMethods] ([ID], [Shipping]) VALUES (1, N'Delivery')
INSERT [dbo].[LuShippingMethods] ([ID], [Shipping]) VALUES (2, N'Pickup')
INSERT [dbo].[LuShippingMethods] ([ID], [Shipping]) VALUES (3, N'Courier')
/****** Object:  Table [dbo].[LuShapes]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuShapes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Shape] [nvarchar](50) NULL,
 CONSTRAINT [PK_LuShapes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LuShapes] ON
INSERT [dbo].[LuShapes] ([ID], [Shape]) VALUES (1, N'Square')
INSERT [dbo].[LuShapes] ([ID], [Shape]) VALUES (2, N'Triangle')
INSERT [dbo].[LuShapes] ([ID], [Shape]) VALUES (3, N'Quadrilateral')
SET IDENTITY_INSERT [dbo].[LuShapes] OFF
/****** Object:  Table [dbo].[LuMiter]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuMiter](
	[ThicknessID] [int] NOT NULL,
	[Rate] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LuMiter] ([ThicknessID], [Rate]) VALUES (1, 0.3)
INSERT [dbo].[LuMiter] ([ThicknessID], [Rate]) VALUES (2, 0.35)
INSERT [dbo].[LuMiter] ([ThicknessID], [Rate]) VALUES (3, 0.45)
/****** Object:  Table [dbo].[LuLeadTimeType]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuLeadTimeType](
	[ID] [int] NULL,
	[LeadTimeType] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LuLeadTimeType] ([ID], [LeadTimeType]) VALUES (1, N'Days')
INSERT [dbo].[LuLeadTimeType] ([ID], [LeadTimeType]) VALUES (2, N'Weeks')
INSERT [dbo].[LuLeadTimeType] ([ID], [LeadTimeType]) VALUES (3, N'Months')
/****** Object:  Table [dbo].[LuLeadTime]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuLeadTime](
	[ID] [int] NULL,
	[LeadTime] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LuLeadTime] ([ID], [LeadTime]) VALUES (1, N'1')
INSERT [dbo].[LuLeadTime] ([ID], [LeadTime]) VALUES (2, N'2')
INSERT [dbo].[LuLeadTime] ([ID], [LeadTime]) VALUES (3, N'3')
/****** Object:  Table [dbo].[LuLeadSetting]    Script Date: 11/15/2013 17:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuLeadSetting](
	[ID] [int] NULL,
	[LeadTimeID] [int] NULL,
	[LeadTypeID] [int] NULL,
	[IsDefaultLeadTime] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LuLeadSetting] ([ID], [LeadTimeID], [LeadTypeID], [IsDefaultLeadTime]) VALUES (1, 3, 1, 1)
/****** Object:  Table [dbo].[LuInsulationCost]    Script Date: 11/15/2013 17:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuInsulationCost](
	[ID] [int] NULL,
	[Ceiling1] [int] NULL,
	[Cost1] [float] NULL,
	[Ceiling2] [int] NULL,
	[Cost2] [float] NULL,
	[Cost3] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LuInsulationCost] ([ID], [Ceiling1], [Cost1], [Ceiling2], [Cost2], [Cost3]) VALUES (1, 35, 5, 55, 7, 10)
/****** Object:  Table [dbo].[LuHole]    Script Date: 11/15/2013 17:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuHole](
	[ThicknessID] [int] NOT NULL,
	[HoleRate] [float] NOT NULL,
 CONSTRAINT [PK_LuHole] PRIMARY KEY CLUSTERED 
(
	[ThicknessID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LuHole] ([ThicknessID], [HoleRate]) VALUES (1, 0)
INSERT [dbo].[LuHole] ([ThicknessID], [HoleRate]) VALUES (2, 9.5)
INSERT [dbo].[LuHole] ([ThicknessID], [HoleRate]) VALUES (3, 11.5)
/****** Object:  Table [dbo].[LuGlass]    Script Date: 11/15/2013 17:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuGlass](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GlassType] [nvarchar](100) NULL,
 CONSTRAINT [PK_LuGlass] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LuGlass] ON
INSERT [dbo].[LuGlass] ([ID], [GlassType]) VALUES (1, N'Clear Glass')
INSERT [dbo].[LuGlass] ([ID], [GlassType]) VALUES (2, N'Bronze/Gray')
INSERT [dbo].[LuGlass] ([ID], [GlassType]) VALUES (3, N'Starphire Glass')
SET IDENTITY_INSERT [dbo].[LuGlass] OFF
/****** Object:  Table [dbo].[GlassRates]    Script Date: 11/15/2013 17:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlassRates](
	[ID] [int] NULL,
	[ThicknessID] [int] NULL,
	[CutSQFT] [float] NULL,
	[TemperedSQFT] [float] NULL,
	[PolishStraight] [float] NULL,
	[PolishShape] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[GlassRates] ([ID], [ThicknessID], [CutSQFT], [TemperedSQFT], [PolishStraight], [PolishShape]) VALUES (1, 1, 1.65, 2.15, 0.08, 0.3)
INSERT [dbo].[GlassRates] ([ID], [ThicknessID], [CutSQFT], [TemperedSQFT], [PolishStraight], [PolishShape]) VALUES (1, 2, 1.65, 2.25, 0.08, 0.3)
INSERT [dbo].[GlassRates] ([ID], [ThicknessID], [CutSQFT], [TemperedSQFT], [PolishStraight], [PolishShape]) VALUES (1, 3, 3.25, 3.95, 0.13, 0.5)
/****** Object:  Table [dbo].[CustomerShippingAddress]    Script Date: 11/15/2013 17:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerShippingAddress](
	[ID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Address] [nvarchar](200) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Misc] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/15/2013 17:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Misc] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON
INSERT [dbo].[Customer] ([ID], [Address], [FirstName], [LastName], [Phone], [Fax], [Email], [Misc]) VALUES (5, N'a', N'balram', N'chavan', NULL, N'f1', N'e1', N'm1')
INSERT [dbo].[Customer] ([ID], [Address], [FirstName], [LastName], [Phone], [Fax], [Email], [Misc]) VALUES (6, N'b', N'jay', N'dee', N'555-555-5555', N'f2', N'e2', N'm2')
INSERT [dbo].[Customer] ([ID], [Address], [FirstName], [LastName], [Phone], [Fax], [Email], [Misc]) VALUES (7, N'c', N'jay', N'dee', N'666-666-6666', N'f3', N'e3', N'm3')
SET IDENTITY_INSERT [dbo].[Customer] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 11/15/2013 17:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([ID], [UserName], [Password], [IsAdmin]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[Users] ([ID], [UserName], [Password], [IsAdmin]) VALUES (2, N'balram', N'balram', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  StoredProcedure [dbo].[SetDefaultLeadTime]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetDefaultLeadTime]
	@leadTimeID int,
	@leadTimeTypeID int
AS
BEGIN
	
	SET NOCOUNT ON;
	
	IF NOT EXISTS (SELECT IsDefaultLeadTime FROM LuLeadSetting)
	BEGIN
		INSERT INTO LuLeadSetting(ID,LeadTimeID,LeadTypeID,IsDefaultLeadTime)
		VALUES(1, @leadTimeID, @leadTimeTypeID, 'true');
	END
	ELSE
	BEGIN
		Update LuLeadSetting
		SET LeadTimeID = @leadTimeID, LeadTypeID = @leadTimeTypeID, IsDefaultLeadTime = 'true'
		WHERE ID = 1
	END
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[ResetDefaultLeadTime]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetDefaultLeadTime]
AS
BEGIN
	
	SET NOCOUNT ON;
	
	IF EXISTS (SELECT COUNT(1) FROM LuLeadSetting)
	BEGIN
		Update LuLeadSetting
		SET LeadTimeID = null, LeadTypeID = null, IsDefaultLeadTime = 'false'
		WHERE ID = 1
	END
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[CreateNewCustomer]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateNewCustomer] 
 @Address nvarchar(200)
,@FirstName nvarchar(50)
,@LastName nvarchar(50)
,@Phone nvarchar(50)
,@Fax nvarchar(50)
,@Email nvarchar(50)
,@Misc nvarchar(1000)
AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [dbo].[Customer]
           ([Address]
           ,[FirstName]
           ,[LastName]
           ,[Phone]
           ,[Fax]
           ,[Email]
           ,[Misc])
     VALUES
           (@Address
           ,@FirstName
           ,@LastName
           ,@Phone
           ,@Fax
           ,@Email
           ,@Misc)
	
	SELECT MAX(ID) FROM Customer
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[AddQuoteHeader]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddQuoteHeader] 
 @CreatedOn  nvarchar(50)
,@RequestedShipDate nvarchar(50)
,@CustomerPO nvarchar(50)
,@LeadTimeID int
,@LeadTimeTypeID int
,@CustomerID int
,@ShippingMethodID int
,@ShipToOtherAddress bit
,@QuoteNumber nvarchar(50)
,@OperatorName nvarchar(50)
AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [GlassManagerDB].[dbo].[QuoteHeader]
           ([CreatedOn]
           ,[RequestedShipDate]
           ,[CustomerPO]
           ,[LeadTimeID]
           ,[LeadTimeTypeID]
           ,[CustomerID]
           ,[ShipToOtherAddress]
           ,[QuoteNumber]
           ,ShippingMethodID
           ,OperatorName)
     VALUES
           (@CreatedOn
           ,@RequestedShipDate
           ,@CustomerPO
           ,@LeadTimeID
           ,@LeadTimeTypeID
           ,@CustomerID
           ,@ShipToOtherAddress
           ,@QuoteNumber
           ,@ShippingMethodID
           ,@OperatorName)
		
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetThicknessByGlassID]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetThicknessByGlassID]
	@GlassID int
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT g.ThicknessID, t.Thickness
	FROM GlassRates g
	INNER JOIN LuThickness t ON t.ID = g.ThicknessID
	WHERE g.ID = @GlassID
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetSmartSearchData]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSmartSearchData]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT FirstName + ' ' + LastName + + ' - ' + QuoteNumber + ' ' + (Case When Phone IS NULL THEN '' ELSE ' - ' + Phone END )  'Item'
	FROM Customer c
	INNER JOIN QuoteHeader q ON q.CustomerID = c.ID
	
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetRates]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRates]  
 @GlassID int,  
 @ThicknessID int  
AS  
BEGIN  
   
 SET NOCOUNT ON;  
  
 SELECT g.CutSQFT, g.TemperedSQFT,g.PolishStraight, g.PolishShape, ISNULL(m.Rate,0) 'MiterRate', 15 'NotchRate', 25 'HingeRate', 35 'PatchRate', h.HoleRate  
 FROM GlassRates g  
 LEFT JOIN LuMiter m ON m.ThicknessID = g.ThicknessID  AND m.ThicknessID = @ThicknessID
 LEFT JOIN LuHole h ON h.ThicknessID = g.ThicknessID
 WHERE g.ID = @GlassID AND g.ThicknessID = @ThicknessID 
   
 SET NOCOUNT OFF;  
  
END
GO
/****** Object:  StoredProcedure [dbo].[GetQuoteDetails]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetQuoteDetails]
@QuoteNumber nvarchar(50)
AS
BEGIN
	
	SET NOCOUNT ON;

	-- Quote Header
	SELECT	qh.QuoteNumber, qh.CreatedOn, qh.CustomerPO,qh.LeadTimeID, qh.LeadTimeTypeID, qh.RequestedShipDate, qh.ShipToOtherAddress,
			qh.ShippingMethodID,qh.OperatorName,
			c.FirstName 'SoldTo_FirstName', c.LastName 'SoldTo_LastName', c.Address 'SoldTo_Address', c.Email 'SoldTo_Email', c.Fax 'SoldTo_Fax', c.Phone 'SoldTo_Phone', c.Misc 'SoldTo_Misc',
			osa.FirstName 'ShipTo_FirstName', osa.LastName 'ShipTo_LastName', osa.Address 'ShipTo_Address', osa.Email 'ShipTo_Email', osa.Fax 'ShipTo_Fax', osa.Phone 'ShipTo_Phone', osa.Misc 'ShipTo_Misc'
			--osa.FirstName, osa.LastName, osa.Address, osa.Email, c.Fax, osa.Phone, osa.Misc
	FROM QuoteHeader qh
	INNER JOIN Customer c ON c.ID = qh.CustomerID
	INNER JOIN OtherShippingAddress osa ON osa.CustomerID = c.ID
	WHERE qh.QuoteNumber = @QuoteNumber
	
	-- Line Items
	SELECT QuoteNumber,LineID,Quantity,Description,Dimension,SqFt,PricePerUnit,Total
	FROM QuoteLineItems
	WHERE QuoteNumber = @QuoteNumber
	
	-- Quote Footer
	SELECT QuoteNumber, SubTotal, IsDollar, EnergySurcharge,Discount,Delivery,IsRush, RushOrder,Tax,GrandTotal
	FROM QuoteFooter
	WHERE QuoteNumber = @QuoteNumber
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetNewQuoteID]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNewQuoteID]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @QuoteID INT
	DECLARE @Padding INT = 5
	DECLARE @NewQuoteID NVARCHAR(50)
	
	SELECT @QuoteID = MAX(QuoteID)  FROM QuoteHeader
	SET @QuoteID = ISNULL(@QuoteID,0) +1
	
	IF @Padding < LEN(@QuoteID)
	BEGIN
		SET @Padding = LEN(@QuoteID)
	END
	
	SET @NewQuoteID = 'Q' + Replace(Str(@QuoteID, @Padding), ' ' , '0')
	
	SELECT @NewQuoteID 
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetInsulationCost]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInsulationCost] 
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT [ID]
      ,[Ceiling1]
      ,[Cost1]
      ,[Ceiling2]
      ,[Cost2]
      ,[Cost3]
  FROM [LuInsulationCost]
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetDefaultLeadTimeSet]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDefaultLeadTimeSet]
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT lt.ID 'LeadTimeID', lt.LeadTime, ltt.ID 'LeadTimeTypeID', ltt.LeadTimeType, IsDefaultLeadTime
	FROM LuLeadSetting ls
	INNER JOIN LuLeadTime lt ON lt.ID = ls.LeadTimeID
	INNER JOIN LuLeadTimeType ltt ON ltt.ID = ls.LeadTypeID
	WHERE ls.IsDefaultLeadTime = 'TRUE'
		
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerDetails]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomerDetails]
@CustomerID int
AS
BEGIN
	
	SET NOCOUNT ON;

	-- Quote Header
	SELECT	 c.FirstName 'SoldTo_FirstName', c.LastName 'SoldTo_LastName', c.Address 'SoldTo_Address', c.Email 'SoldTo_Email', c.Fax 'SoldTo_Fax', c.Phone 'SoldTo_Phone', c.Misc 'SoldTo_Misc',
			ISNULL(osa.FirstName ,'')'ShipTo_FirstName', ISNULL(osa.LastName ,'')'ShipTo_LastName', ISNULL(osa.Address ,'')'ShipTo_Address', ISNULL(osa.Email ,'')'ShipTo_Email',
			ISNULL(osa.Fax ,'')'ShipTo_Fax' ,ISNULL(osa.Phone ,'')'ShipTo_Phone',ISNULL(osa.Misc ,'')'ShipTo_Misc'
			--osa.FirstName, osa.LastName, osa.Address, osa.Email, c.Fax, osa.Phone, osa.Misc
	FROM Customer c 
	LEFT JOIN OtherShippingAddress osa ON osa.CustomerID = c.ID
	WHERE c.ID= @CustomerID
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllShippingMethods]    Script Date: 11/15/2013 17:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[GetAllShippingMethods]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT ID, Shipping FROM LuShippingMethods
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllShapes]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[GetAllShapes] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT [ID],[Shape] FROM [LuShapes]
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllOperatorNames]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetAllOperatorNames] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT [ID]
      ,UserName
  FROM Users
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllLeadTimeTypes]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[GetAllLeadTimeTypes]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT ID,LeadTimeType  FROM LuLeadTimeType
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllLeadTime]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[GetAllLeadTime]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT ID,LeadTime  FROM LuLeadTime
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllGlassTypes]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllGlassTypes] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT [ID]
      ,[GlassType]
  FROM [GlassManagerDB].[dbo].[LuGlass]
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomerNames]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllCustomerNames]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT c.ID, FirstName + ' ' + LastName +  +  (Case When Phone IS NULL THEN '' ELSE ' - ' + Phone END )  'Item'
	FROM Customer c
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[IsQuoteNumberPresent]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[IsQuoteNumberPresent]
@quoteNumber nvarchar(50)
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT Count(1) FROM QuoteHeader where QuoteNumber = @quoteNumber
		
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[IsDefaultLeadTimeSet]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[IsDefaultLeadTimeSet]
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT IsDefaultLeadTime FROM LuLeadSetting
		
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[InsertShippingDetails]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertShippingDetails] 
@QuoteNumber nvarchar(50)
,@CustomerID int
,@Address nvarchar(200)
,@FirstName nvarchar(50)
,@LastName nvarchar(50)
,@Phone nvarchar(50)
,@Fax nvarchar(50)
,@Email nvarchar(50)
,@Misc nvarchar(1000)
AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [dbo].[OtherShippingAddress]
           ([QuoteNumber]
           ,[CustomerID]
           ,[Address]
           ,[FirstName]
           ,[LastName]
           ,[Phone]
           ,[Fax]
           ,[Email]
           ,[Misc])
     VALUES
           (@QuoteNumber
           ,@CustomerID
           ,@Address
           ,@FirstName
           ,@LastName
           ,@Phone
           ,@Fax
           ,@Email
           ,@Misc)
	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[InsertQuoteLineItem]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertQuoteLineItem] 
@QuoteNumber nvarchar(50)
,@LineID int
,@Quantity int
,@Description nvarchar(1000)
,@Dimension nvarchar(50)
,@SqFt int
,@PricePerUnit float
,@Total float
AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [GlassManagerDB].[dbo].[QuoteLineItems]
           ([QuoteNumber]
           ,[LineID]
           ,[Quantity]
           ,[Description]
           ,[Dimension]
           ,[SqFt]
           ,[PricePerUnit]
           ,[Total])
     VALUES
           (@QuoteNumber
           ,@LineID
           ,@Quantity
           ,@Description
           ,@Dimension
           ,@SqFt
           ,@PricePerUnit
           ,@Total)

	
	SET NOCOUNT OFF;

END
GO
/****** Object:  StoredProcedure [dbo].[InsertQuoteFooter]    Script Date: 11/15/2013 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertQuoteFooter] 
@QuoteNumber nvarchar(50)
,@SubTotal float
,@IsDollar bit
,@EnergySurcharge float
,@Discount float
,@Delivery float
,@IsRush bit
,@RushOrder float
,@Tax float
,@GrandTotal float
AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [GlassManagerDB].[dbo].QuoteFooter
           (QuoteNumber
           ,[SubTotal]
           ,[IsDollar]
           ,[EnergySurcharge]
           ,[Discount]
           ,[Delivery]
           ,[IsRush]
           ,[RushOrder]
           ,[Tax]
           ,[GrandTotal])
     VALUES
           (@QuoteNumber
           ,@SubTotal
           ,@IsDollar
           ,@EnergySurcharge
           ,@Discount
           ,@Delivery
           ,@IsRush
           ,@RushOrder
           ,@Tax
           ,@GrandTotal)
	
	SET NOCOUNT OFF;

END
GO
