<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v2.0.50727" />
  </startup>
  <connectionStrings>
    <add name="default" connectionString="server=(local)\SQLExpress;database=GlassManagerDB;integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>
